<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href=" https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        />
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css')}}"
        />
        <script>
            function toggleImage() {
                var image = document.getElementById("ceilingFan");
                if (image.src.endsWith("free-icon-ceiling-fan-6226565.png")) {
                    image.src =
                        "../static/img/free-icon-ceiling-fan-6226671.png";
                    fetch("/relay_turn_off");
                } else {
                    image.src =
                        "../static/img/free-icon-ceiling-fan-6226565.png";
                    fetch("/relay_turn_on");
                }
            }
            function toggleImage2() {
                var image = document.getElementById("refrigerator");
                if (image.src.endsWith("free-icon-exhaust-fan-5993816.png")) {
                    image.src =
                        "../static/img/free-icon-exhaust-fan-5993819.png";
                } else {
                    image.src =
                        "../static/img/free-icon-exhaust-fan-5993816.png";
                }
            }
        </script>
    </head>
    <body>
        <header class="text-white py-3">header</header>

        <div class="container-fluid">
            <div class="row">
                <section class="col-6 col-md-3 py-3">
                    <div class="card">
                        <div class="card-body">
                            집온도 <span class="temperature_data"></span>C
                        </div>
                    </div>
                </section>
                <section class="col-6 col-md-3 py-3">
                    <div class="card">
                        <div class="card-body">
                            집습도 <span class="humidity_data"></span>%
                        </div>
                    </div>
                </section>
                <section class="col-6 col-md-3 py-3">
                    <div class="card">
                        <div class="card-body">오늘 하루 total 전력량</div>
                    </div>
                </section>
                <section class="col-6 col-md-3 py-3">
                    <div class="card">
                        <div class="card-body">다음달 전깃세</div>
                    </div>
                </section>
            </div>
            <!-- 4칸 끝 -->
            <div class="row">
                <section class="col-3 py-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">리모콘 섹션</h5>
                            <button
                                type="button"
                                class="btn btn-light"
                                onclick="toggleImage()"
                            >
                                <img
                                    id="ceilingFan"
                                    src="{{ url_for( 'static', filename='img/free-icon-ceiling-fan-6226565.png') }}"
                                    height="50"
                                    width="50"
                                />
                            </button>
                            <button
                                type="button"
                                class="btn btn-light"
                                onclick="toggleImage2()"
                            >
                                <img
                                    id="refrigerator"
                                    src="../static/img/free-icon-exhaust-fan-5993816.png"
                                    height="50"
                                    width="50"
                                />
                            </button>
                        </div>
                    </div>
                </section>
                <section class="col-9 py-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">전력 소비 그래프</h5>
                            <canvas id="onedayDonutGraph" width="2814"></canvas>
                        </div>
                    </div>
                </section>
            </div>
            <!-- 2칸 끝 -->
            <div class="row">
                <section class="col-12 py-3">
                    <div class="card">
                        <div class="card-body onedayPowerGraph">
                            <h5 class="card-title">
                                전력 데이터 (오늘 하루 기준)
                            </h5>
                            <canvas id="onedayPowerGraph" width="2814"></canvas>
                        </div>
                    </div>
                </section>
            </div>
            <!-- 1칸 끝 -->
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="{{ url_for('static', filename='js/getSensorData.js')}}"></script>
    <script src="{{ url_for('static', filename='js/drawgraph.js')}}"></script>
    <script src="{{ url_for('static', filename='js/drawDonutgraph.js')}}"></script>
</html>
</html>
