<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
            crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2"></script>
        <script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>
        <title>플러그 전력 서비스</title>
    </head>

    <body>
        <div class="container">
            <div class="topbar">
                <div class="logo">
                    <h2>플러그 전력 서비스</h2>
                </div>
                <div class="search">
                    <input type="text" name="search" placeholder="search here" />
                    <label for="search"><i class="fas fa-search"></i></label>
                </div>
                <i class="fas fa-bell"></i>
                <div class="user">
                    <img src="img/user.png" alt="" />
                    <img src="{{ url_for('static', filename='img/user.png') }}" alt="" />
                </div>
            </div>
            <div class="sidebar">
                <ul>
                    <li>
                        <a id="dashboard" href="/">
                            <i class="fas fa-th-large"></i>
                            <div>Dashboard</div>
                        </a>
                    </li>
                    <li>
                        <a id="mypage" href="/mypage">
                            <i class="fas fa-user"></i>
                            <div>My Page</div>
                        </a>
                    </li>
                    <li>
                        <a id="help" href="#">
                            <i class="fas fa-question"></i>
                            <div>Help</div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main">
                <div class="cards">
                    <div class="card">
                        <div class="card-content">
                            <div class="number"><span class="temperature_data"></span>C</div>
                            <div class="card-name">온도</div>
                        </div>
                        <div class="icon-box">
                            <i class="fas fa-thermometer-half"></i>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="number"><span class="humidity_data"></span>%</div>
                            <div class="card-name">현재 습도</div>
                        </div>
                        <div class="icon-box">
                            <span class="fas fa-tint"></span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="number">2345kwh</div>
                            <div class="card-name">오늘 Total 전력량</div>
                        </div>
                        <div class="icon-box">
                            <i class="fas fa-bolt"></i>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="number">5630원</div>
                            <div class="card-name">다음달 전기세 예상</div>
                        </div>
                        <div class="icon-box">
                            <i class="fas fa-bolt"></i>
                        </div>
                    </div>
                </div>
                <div class="cards cards-plug">
                    <div class="card PlugButton1-background">
                        <div class="card-content PlugButton1-background">
                            <div class="number PlugButton1">ON</div>
                            <div class="card-name">플러그1 전원</div>
                        </div>
                        <div class="icon-box">
                            <span class="fas fa-plug"></span>
                        </div>
                    </div>
                    <div class="card PlugButton2-background">
                        <div class="card-content PlugButton2-background">
                            <div class="number PlugButton2">ON</div>
                            <div class="card-name">플러그2 전원</div>
                        </div>
                        <div class="icon-box">
                            <i class="fas fa-plug"></i>
                        </div>
                    </div>
                    <div class="card PlugButton3-background">
                        <div class="card-content PlugButton3-background">
                            <div class="number PlugButton3">ON</div>
                            <div class="card-name">플러그3 전원</div>
                        </div>
                        <div class="icon-box">
                            <i class="fas fa-plug"></i>
                        </div>
                    </div>
                    <div class="card PlugButton4-background">
                        <div class="card-content PlugButton4-background">
                            <div class="number PlugButton4">ON</div>
                            <div class="card-name">플러그4 전원</div>
                        </div>
                        <div class="icon-box">
                            <i class="fas fa-plug"></i>
                        </div>
                    </div>
                </div>
                <div class="charts">
                    <div class="chart lineChart">
                        <h2>오늘 하루 24시간 전력 사용 그래프(시간)</h2>
                        <div>
                            <canvas id="lineChart"></canvas>
                        </div>
                    </div>
                    <div class="chart doughnut-chart">
                        <h2>시간별 전력 비중 그래프</h2>
                        <div>
                            <canvas id="doughnut"></canvas>
                        </div>
                    </div>
                    <div class="chart doughnut-chart">
                        <h2>다음날 예상 전력 데이터</h2>
                        <div>
                            <canvas id="lineChart2"></canvas>
                        </div>
                    </div>
                    <div class="chart doughnut-chart">
                        <h2>실시간 전력 데이터(초당)</h2>
                        <div>
                            <canvas id="realTimeChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script> -->
        <script type="module" src="{{ url_for('static', filename='js/chart1.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/chart2.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/chart3.js') }}"></script>

        <script type="module" src="{{ url_for('static', filename='js/realTimeChart.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/size.js') }}"></script>

        <script type="module" src="{{ url_for('static', filename='js/togglebButton.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/getSensorData.js') }}"></script>
    </body>
</html>
